* {
    padding: 0%;
    margin: 0%;
    /* for visibility of elements */
    /* border: solid; */
    font-family: "Helvetica Neue";
}

body {
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
}

.navsection {
    background-color: #00308F;
    color: white;
}

#namesection{
    flex: 0.7;
}

#name {
    display: inline-block;
    text-decoration: none;
    font-size: 24pt;
    color: inherit;
    padding-left: 0.1cm;
}

#name:hover {
    color: #D5B942;
    transition-duration: 0.2s;
}

#subtitle {
    font-family: "Helvetica Neue";
    padding-left: 0.2cm;
    font-style: italic;
}

#buttonsection {
    display: flex;
    flex: 0.3;
}

.navbutton {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.navbutton:hover {
    background-color: #D5B942;
    color: #00308F ;
    transition-duration: 100ms;
}

.navbutton:active {
    background-color: #D5B942;
    color: black;
}

#mainpage {
    display: flex;
}

.mainsections {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContentSection {
    display: flex;
    flex: 0.7;
    justify-content: flex-start;
}

#mainContentSection > img {
    /* width: 26.4cm; */
}

#mainTextSection {
    display: flex;
    flex: 0.3;
    text-align: center;
}