* {
    padding: 0%;
    margin: 0%;
    /* for visibility of elements */
    border: solid;
    font-family: "Helvetica Neue";
}

body {
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
}

.navsection {
    background-color: lightskyblue;
}

#namesection{
    flex: 0.7;
}

#name {
    display: inline-block;
    text-decoration: none;
    font-size: 24pt;
}

#buttonsection {
    display: flex;
    flex: 0.3;
}

.navbutton {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#subtitle {
    font-family: "Helvetica Neue";
}

#mainpage {
    display: flex;
}

.mainsections {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContentSection {
    display: flex;
    flex: 0.7;
}

#mainTextSection {
    display: flex;
    flex: 0.3;
}