#portfoliopage {
    display: flex;
    flex-direction: column;
}

.projectRow {
    display: flex;
    justify-content: space-around;
}

.projectTiles {
    display: flex;
    flex-direction: column;
    width: 6cm;
    aspect-ratio: 1/1.2;
    margin-top: 1cm;
    background-color: cyan;
    border-radius: 0.3cm;
    border: solid;
}

.projectTiles > *{
    border-radius: 0.3cm;
}

.projectTiles:hover {
    box-shadow: 10px 10px 0px #D5B942;
    transition-duration: 0.1s;
}

.projectImage{
    flex:0.7;
}

.projectTitleDesc {
    flex: 0.3;
    /* margin-left: 0.1cm; */
    background-color: white;
    border-radius: 0% 0% 0.3cm 0.3cm;
}

